// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main_background {
  background-color: ivory;
  min-height: 100vh;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.notes_background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  
  margin: 2rem;
  background-color: ivory;
}

header {
  display: flex;
  justify-content: flex-start;
  margin: 2em;
  align-items: center;

}


header h1 {
  font-size: 3em;
  color: red;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


header a {
  display: flex;
  align-items: center;

  text-decoration: none;
  margin-left: 3em;
  padding: 15px;
  font-size: 1.5em;
  height: fit-content;

  background: skyblue;
  border-radius: 50%;
  color: white;
}



.post_it_note {
  background-color: rgb(255, 255, 109);

  padding: 1rem;

  display: grid;

  box-shadow: 1px 2px gainsboro;
}

.post_it_note::before {
  content: "";
  padding-top: 100%;

  display: block;
  
  grid-area: 1 / 1 / 2 / 2;
}

.post_it_note_content {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
}



.post_it_note_options {
  // background: blue;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  
  
}

.post_it_note_options a {
  text-decoration: none;
  color:gray;
  font-weight: bolder;
}